<!DOCTYPE html>
<html>
  <%- include ../partials/head %>
  <body ng-app="myapp">
    <div class="container-fluid">
      <%- include ../partials/navbar %>
      <%- body %>    
      <%- include ../partials/foot %>
    </div>
  </body>
</html>
